body{
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}


div {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    position: fixed;
    top: 25%;
    left: 40%;
}

img{
    position: absolute;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    div{
        font-size: 30px;
        position: fixed;
        top: 40%;
        left: 30%;
      background-color:white;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 0;
      padding-block: 0;
    }
}